@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@layer base {
  * {
    border-color: #e5e7eb; /* fallback gray */
  }
  body {
    background-color: white;
    color: black;
  }
}
